.idea/
**/*.iml
*.iws
.DS_Store
**/.DS_Store

out/
*/.gradle
**/*build*/

/app/
/app-test/
/files/
/.docker-artifacts/

**/*.log
api.log.lck
**/.env.*
!**/.env.example

http-client.private.env.json

docker-compose-*.yaml
docker-compose-*.yml
